@font-face {
    font-family: "Karrik";
    src: url("/public/fonts/Inter-Medium.woff2") format("woff2");
  }
  
  #about {
    padding-left: 15%;
    padding-right: 25%;
    min-height: 60vh;
    margin-top: -20vh;
  }

  .section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  body a {
    text-decoration: none !important;
  }


  body #light a {
    text-decoration: none !important;
    color: #D8F342;
  }

  body #dark .section-title {
    font-family: "Millimetre", sans-serif;
    color: white;
    font-weight: 700;
    font-size: 2.5em;
    margin-right: 2vw;
  }

  body #light .section-title {
    font-family: "Millimetre", sans-serif;
    color: white;
    font-weight: 700;
    font-size: 2.5em;
    margin-right: 2vw;
  }

  .about-description ul {
    padding-top: 20px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 20px));
  }
  
  body #dark .about-description li {
    position: relative;
    padding-left: 20px;
    font-size: 16px;
    color: var(--slate);
  }

  body #light .about-description li {
    position: relative;
    padding-left: 20px;
    font-size: 16px;
    color: white;
  }
  
  body #dark .about-description li::before {
    content: "⬪   "; /*  ▹  */
    color: var(--green-bright);
    position: absolute;
    left: 0;
  }

  body #light .about-description li::before {
    content: "⬪   "; /*  ▹  */
    color: white;
    position: absolute;
    left: 0;
  }
  
  .about-content {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    line-height: 1.3em;
  }
  
  body #dark .about-description {
    font-family: "Karrik", sans-serif;
    color: var(--slate);
    max-width: 600px;
    font-size: 16px;
    line-height: 1.3em;
    text-align: justify;
    margin: 0;
  }

  body #light .about-description {
    font-family: "Karrik", sans-serif;
    color: white;
    max-width: 600px;
    font-size: 16px;
    line-height: 1.3em;
    text-align: justify;
    margin: 0;
  }
  
  .about-description a,
  .about-description b {
    font-size: 16px;
    line-height: 1.3em;
    font-weight: bold;
  }


  .about-image {
    padding-left: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative; 
}

.about-image img {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
    border: none;
    margin-bottom: 10px; 
}
  
  @media only screen and (max-width: 1080px) {
    .about-image {
      display: none;
    }
  }
  
  @media only screen and (max-width: 600px) {
    #about {
      height: unset;
      padding-left: unset;
      padding-right: unset;
      margin: 7vw;
    }

    .section-title {
      font-size: 25px;
    }
  
    .about-description {
      font-size: 17px !important;
      text-align: justify;
    }
  
    .about-description a,
    .about-description b {
      font-size: 16px;
    }
  
    .about-description ul {
      grid-template-columns: repeat(2, minmax(200px, 20px));
    }

    .about-image {
      display: none;
    }
  
    .about-content {
      display: unset;
    }
  }
  