#credits {
    display: flex;
    align-items: center;
    padding-top: 100px;
  }
  
  body #dark .ending-credits {
    font-family: "Karrik", sans-serif;
    color: var(--slate);
    text-align: center;
    width: 100%;
    font-size: 16px;
    padding-bottom: 40px;
  }

  body #light .ending-credits {
    font-family: "Karrik", sans-serif;
    color: black;
    text-align: center;
    width: 100%;
    font-size: 16px;
    padding-bottom: 40px;
  }