#experience {
    padding-left: 15%;
    min-height: 60vh;
  }
  
  .section-header {
    margin-top: 7vh;
    margin-bottom: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  body #dark .joblist-job-title {
    font-family: "Karrik", sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: var(--lightest-slate);
  }

  body #light .joblist-job-title {
    font-family: "Karrik", sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: white;
  }
  
  body #dark .joblist-job-company {
    font-family: "Karrik", sans-serif;
    font-size: 28px;
    color: var(--green-bright);
    font-weight: bold;
  }

  body #light .joblist-job-company {
    font-family: "Karrik", sans-serif;
    font-size: 28px;
    color: white;
    font-weight: bold;
  }
  
  body #dark .joblist-duration {
    font-family: "Karrik", sans-serif;
    font-size: 18px;
    color: var(--slate);
  }

  body #light .joblist-duration {
    font-family: "Karrik", sans-serif;
    font-size: 18px;
    color: white;
  }
  
  #vertical-tabpanel {
    margin-top: -28px;
    padding-left: 25px;
  }
  
  .MuiTab-wrapper {
    font-size: 16px;
    text-align: left;
    align-items: flex-start !important;
    font-family: "Karrik", sans-serif;
  }
  
  body #dark .MuiButtonBase-root {
    outline: none !important;
    color: var(--lightest-slate) !important;
  }

  body #light .MuiButtonBase-root {
    outline: none !important;
    color: white !important;
  }
  
  body #dark .PrivateTabIndicator-colorSecondary-5 {
    background-color: var(--green-bright) !important;
  }

  body #light .PrivateTabIndicator-colorSecondary-5 {
    background-color: #D8F342 !important;
  }

  body #dark .PrivateTabIndicator-colorSecondary-7 {
    background-color: var(--green-bright) !important;
  }

  body #light .PrivateTabIndicator-colorSecondary-7 {
    background-color: #D8F342 !important;
  }

  body #dark .PrivateTabIndicator-colorSecondary-22 {
    background-color: var(--green-bright) !important;
  }

  body #light .PrivateTabIndicator-colorSecondary-22 {
    background-color: #D8F342 !important;
  }

  


  body #dark .jss5 {
    background-color: var(--green-bright) !important;
  }

  body #light .jss5 {
    background-color: #D8F342 !important;
  }


  body #dark .makeStyles-tabs-2 {
    border-right: 1px solid transparent !important;
  }

  body #light .makeStyles-tabs-2 {
    border-right: 1px solid transparent !important;
  }

  #experience .MuiTab-root {
    padding: 6px 20px;
  }

  body #dark .MuiButtonBase-root:focus {
    color: var(--green-bright) !important;
  }

  body #light .MuiButtonBase-root:focus {
    color: #D8F342!important;
  }

  
  
  ul {
    list-style: none;
    margin-left: -40px;
  }
  
  body #dark .job-description li::before {
    content: "⬪    "; /* ▹ */
    transform: scale(1.2);
    color: var(--green-bright);
    position: absolute;
    left: 0;
  }

  body #light .job-description li::before {
    content: "⬪    "; /* ▹ */
    transform: scale(1.2);
    color: white;
    position: absolute;
    left: 0;
  }
  
  body #dark .job-description li {
    position: relative;
    padding-left: 30px;
    padding-bottom: 16px;
    font-size: 16px;
    color: var(--slate);
  }

  body #light .job-description li {
    position: relative;
    padding-left: 30px;
    padding-bottom: 16px;
    font-size: 16px;
    color: white;
  }
  
  .job-description {
    padding-top: 24px;
    max-width: 650px;
    font-family: "Karrik", sans-serif;
    font-size: 16px;
  }
  
  .job-description a,
  .job-description b {
    font-size: 16px;
    font-weight: bold;
  }
  
  @media only screen and (max-width: 600px) {
    #experience {
      padding-left: unset;
      padding-right: unset;
      margin: 7vw;
    }
  
    .jss1 {
      height: unset !important;
      flex-direction: column !important;
    }
  
    .makeStyles-root-1 {
      height: unset !important;
      width: unset;
      flex-direction: column;
    }
  
    .joblist-job-title {
      font-size: 21px !important;
    }
  
    .joblist-job-company {
      font-size: 21px !important;
    }

    .job-description {
      font-size: 17px !important;
    }
  }
  