#intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15%;
    padding-top: 10%;
    min-height: 100vh;
}

body #dark .Typist {
    color: var(--lightest-slate);
    text-align: center;
    font-size: 76px;
    margin-top: -30px;
}

body #light .Typist {
  color: black;
  text-align: center;
  font-size: 76px;
  margin-top: -30px;
}

body #dark .Typist .Cursor--blinking{
    color: var(--green-bright);
    padding-left: 4px;
}

body #light .Typist .Cursor--blinking{
  color: #ced4da;
  text-shadow: 0.5px 0.5px 1px black;
  padding-left: 4px;
}

.intro-title{
    font-family: "Karrik", sans-serif;
    font-size: 1em;
}

body #dark .intro-name{
    font-family: "Karrik", sans-serif;
    font-size: 1em;
    color: var(--green-bright);
}

body #light .intro-name{
  font-family: "Karrik", sans-serif;
  font-size: 1em;
  color: #ced4da;
}

body #dark .intro-subtitle{
    font-family: "Karrik", sans-serif;
    color: var(--slate);
    font-weight: 500;
    font-size: 2em;
    line-height: 1.15em;
}

body #light .intro-subtitle{
  font-family: "Karrik", sans-serif;
  color: black;
  font-weight: 500;
  font-size: 2em;
  line-height: 1.15em;
}

body #dark .intro-desc{
    font-family: "Karrik", sans-serif;
    color: var(--slate);
    font-size: 1.2em;
    text-align: justify;
    padding-bottom: 50px;
    max-width: 50%;
    line-height: 1.3em;
    margin-top: 5vh;
}

body #light .intro-desc{
  font-family: "Karrik", sans-serif;
  color: black;
  font-size: 1.2em;
  text-align: justify;
  padding-bottom: 50px;
  max-width: 50%;
  line-height: 1.3em;
  margin-top: 5vh;
}

.stretch, .intro-contact:after, .intro-contact:before {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

body #dark .intro-contact{
    font-family: "Karrik", sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    padding: 25px 25px;
    cursor: pointer;
    border: 1px solid var(--green-bright);
    border-radius: 3px;
}

body #light .intro-contact{
  font-family: "Karrik", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  padding: 25px 25px;
  cursor: pointer;
  border: 1.5px solid black;
  border-radius: 3px;
}

body #dark .intro-contact:hover{
    background-color: var(--lightest-navy);
}

body #light .intro-contact:hover{
  background-color: black;
}

b{
    font-size: 17px;
}

@media only screen and (max-width: 600px) {
  
    #intro {
      min-height: unset;
      padding-left: unset;
      margin: 0;
      align-items: center;
    }
  
    .intro-title {
      font-size: 46px;
    }
    .intro-name {
      font-size: 46px;
    }
  
    .Typist {
      font-size: 36px;
    }
  
    .intro-subtitle {
      margin: 0;
      font-size: 28px;
      text-align: center;
    }
  
    .intro-desc {
      font-size: 18px;
      text-align: center;
      max-width: unset;
      padding-bottom: 40px;
    }
  
    .intro-contact {
      font-size: 16px;
      align-self: center;
      margin-left: 30%;
    }
  }

  