.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    right: 0;
    padding-right: 5%;
    bottom: 10%;
    background-color: transparent !important;
    background: rgba(0, 0, 0, 0) !important;
}
  
  .rs-sidenav-subtle {
    background-color: transparent !important;
  }
  
  .sidebar-links {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-family: "Millimetre", sans-serif;
    letter-spacing: 0em;
    line-height: 1.6em;
    font-size: 16px;
    padding: 0.2em;
    font-weight: bold;
    background-color: transparent!important;
  }

  body #dark a {
    text-decoration: none !important;
    color: var(--green-bright) !important;
  }

  body #light .sidebar-nav a {
    text-decoration: none !important;
    color: black!important;
  }
  
  body #dark a:hover {
    color: var(--lightest-slate) !important;
  }

  body #light .sidebar-nav a:hover {
    color: #D8F342 !important;
  }
  
  .sidebar-logos {
    padding-top: 42px;
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 8px;
    background-color: transparent !important;
  }

  .sidebar-logos a:hover, a:before, a:after{
    transform: scale(1.25);
    transition: ease, cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.4s;
  }
  
  img {
    height: 18px;
  }
  
  @media only screen and (max-width: 600px) {
    .sidebar-nav {
      position: unset;
      align-items: center;
      margin: 0;
    }
  
    .sidebar-links {
      display: none;
    }
  
    .sidebar-logos {
      padding-top: 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 70px;
      padding-left: unset;
      margin: 0;
      margin-bottom: 3vh;
    }
  }
  