
@font-face {
  font-family: "Millimetre";
  src: url("/public/fonts/Millimetre-Bold_web.woff2") format("woff2");
}

@font-face {
  font-family: "Karrik";
  src: url("/public/fonts/Inter-Medium.woff2") format("woff2");
}

* {
  cursor: none;
}
  
html {
    scroll-behavior: smooth;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
  }

  body #dark {
    background-color: black;
    width: 100vw;
    max-width: 100vw;
  }

  body #light {
    background: linear-gradient(270deg, var(--indigo), var(--light-beige));
    background-size: 600% 600%;

    -webkit-animation: AnimationName 21s ease infinite;
    -moz-animation: AnimationName 21s ease infinite;
    animation: AnimationName 21s ease infinite;

    width: 100vw;
    max-width: 100vw;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


  .App {
    background-color: black;
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
  }
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  #content {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .rs-steps-horizontal .rs-steps-item-content {
    text-align: left;
  }
  
  ::selection {
    background: black; /* WebKit/Blink Browsers */
  }

  div .section-header::after{
    visibility: hidden;
  }

  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
  }

   /* Sound button */

  body #dark .sound {
    width: 150px;
    max-width: 150px;
    height: 7vh; 
    border: none;
    border-radius: 0;
    background: linear-gradient(to left, #252d4a 10%, transparent 80%);
    color: var(--lightest-slate);
  }

  body #light .sound {
    width: 150px;
    max-width: 150px;
    height: 7vh; 
    border: none;
    border-radius: 0;
    background: linear-gradient(to left, black 10%, transparent 80%);
    color: #D8F342;
  }

  body .sound:hover, .sound:before, .sound:after{
    transform: scale(1.05);
    transition: ease, cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.4s;
  }
  
   /* Animation */
  
   .fade-in-section {
    opacity: 0;
    transform: translateY(10vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1s ease-out;
    will-change: opacity, visibility;
  }
  .fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
  
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
  }
  
  .section-header {
    display: flex;
    padding-bottom: 42px;
    width: 100vw;
  }
  
  .section-header::after {
    content: "";
    display: block;
    width: 300px;
    margin-top: 39px;
    height: 1px;
    margin-left: 20px;
    background-color: black;
  }
  
  .section-title {
    font-family: "Karrik", sans-serif;
    color: var(--lightest-slate);
    font-size: 46px;
    font-weight: bold;
  }
  
  @media only screen and (max-width: 600px) {
    .App body {
      flex-direction: column;
      width: 100vw;
      max-width: 100vw !important;
    }
  
    #content {
      width: 100vw !important;
      max-width: 100vw !important;
    }
  
    .section-header {
      width: unset;
    }
  
    .section-header::after {
      display: none;
    }
  
    .section-title {
      font-size: 32px;
    }
  }

  